.theme-bg{
    background-color: #1d123edb !important;
    color: aliceblue;
}
.darker-theme-bg{
    background-color: #251a44 !important;
    color: aliceblue;
}
*{
    color: aliceblue;   
}
@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}
