$bgColor: #222451;
$thumbnailMaxHeight: 32px;
$summonerSpellMaxHeight: 16px;

.wrapper {
  background-color: $bgColor;
  border-radius: 15px;
  min-height: 410px;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 2em;
}

.livegame-thumb-img {
  height: $thumbnailMaxHeight;
}

.summoner-spells-wrapper{
  display: grid;
  img{
    height: $summonerSpellMaxHeight;
  }
}