$bgColor: #222451;
$blueBg: #4b50b3;
$redBg: #9c3d3d;
$thumbnailMaxHeight: 40px;
$summonerSpellMaxHeight: 16px;
$rankedEmblemHeight: 32px;

.wrapper {
  background-color: $bgColor;
  border-radius: 15px;
  min-height: 410px;
  margin-top: 1em;
  margin-bottom: 2em;
  table{
    margin: 1em 0 1em 3em;
  }
}

.livegame-thumb-img {
  height: $thumbnailMaxHeight;
}

.summoner-spells-wrapper {
  display: flex;
    flex-wrap: wrap;
    width: min-content;
  img {
    height: $summonerSpellMaxHeight;
    margin: 2px;
  }
}
.runes {
  display: flex;
  flex-wrap: wrap;
  width: min-content;
  justify-content: center;
  .keystone {
    height: 24px;
  }
  .secondary {
    height: 12px;
  }
}
.banned-champions-wrapper {
  display: flex;
  justify-content: space-evenly;

  .banned-champion {
    height: $thumbnailMaxHeight;
    filter: grayscale(1);
  }
  .banned-champions-blue-wrapper {
    display: flex;
    width: 50%;
    justify-content: center;
    background-color: $blueBg;
  }
  .banned-champions-red-wrapper {
    display: flex;
    width: 50%;
    justify-content: center;
    background-color: $redBg;
  }
  .banned-champion {
    margin: 0.5em;
  }
}
.ranked-emblem-wrapper {
  img {
    height: $rankedEmblemHeight;
  }
}

.livegame-table {
  padding-top: 1em;
  padding-bottom: 1em;
  table {
    .livegame-summonername {
      width: 150px;
      padding-left: 1em;
    }
    tr{
      height: 44px;
    }
  }
}
.ranked-winrate {
  span {
    font-size: 10px;
  }
}
.runes-btn {
  border: 2px solid #2c2c2c;
  div {
    padding: 2px 4px 2px 4px;
    color: white;
    text-decoration: none;
    font-size: 12px;
  }
}
.runes-btn:hover {
  cursor: pointer;
  border: 2px solid black;
}
///RUNE PAGE
.rune-row {
  display: flex;
  img {
    height: 32px;
    margin: 5px;
  }
}
.keystone-row {
  img {
    height: 40px;
  }
}
.runetree-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 1em;
}
.secondary-path-wrapper {
  margin-top: auto;
}
.stat-runes-wrapper {
  margin-top: auto;
}
#rank-display {
  padding-right: 2em;
  .ranked-emblem{
    margin-right: 1em;
  }
}
#winrate {
  padding-right: 2em;
}