$bgColor: #222451;
$blueBg: #4b50b3;
$redBg: #9c3d3d;
$thumbnailMaxHeight: 32px;
$summonerSpellMaxHeight: 16px;

.wrapper {
  background-color: $bgColor;
  border-radius: 15px;
  min-height: 410px;
  margin-top: 1em;
  margin-bottom: 2em;
}

.livegame-thumb-img {
  height: $thumbnailMaxHeight;
}

.summoner-spells-wrapper {
  display: grid;
  img {
    height: $summonerSpellMaxHeight;
  }
}
.runes {
  .keystone {
    height: 24px;
  }
  .secondary {
    height: 16px;
  }
}
.banned-champions-wrapper {
  display: flex;
  justify-content: space-evenly;

  .banned-champion {
    height: $thumbnailMaxHeight;
    filter: grayscale(1);
  }
  .banned-champions-blue-wrapper {
    display: flex;
    width: 50%;
    justify-content: center;
    background-color: $blueBg;
  }
  .banned-champions-red-wrapper {
    display: flex;
    width: 50%;
    justify-content: center;
    background-color: $redBg;
  }
  .banned-champion {
    margin: 0.5em;
  }
}
.ranked-emblem-wrapper {
  img {
    height: $thumbnailMaxHeight;
  }
}
.livegame-table {
  margin: 3em;
  table {
    .livegame-summonername {
      width: 150px;
    }
  }
}
.ranked-winrate {
  span {
    font-size: 10px;
  }
}
.runes-btn{
  border: 2px solid #2c2c2c;
  a{
    padding: 2px 4px 2px 4px;
    color: white;
    text-decoration: none;
    font-size: 12px;
  }
}
.runes-btn:hover{
  cursor: pointer;
  border: 2px solid black;

}