.ranked-profile-wrapper{
    background-color: #222451;
    border-radius: 15px;
    min-height: 410px;
    padding: 1em;
}
.loadIcon{
    margin: 0 auto;
    width: 4%;
    padding-top: 5em;
}
.ranked-profile-thumbnail{
    height: 48px;
    border-radius: 50%;
    border: 2px solid gold;
}

.champion-item-games div{
    display: inline;
}
.champion-item-games{
    padding: 1em;
}
.ranked-profile-champion-item{
    display: flex;
}
.ranked-profile-section{
    padding: 1em;
}
.game-count{
    
}