.history-thumbnail{
    border-radius: 50%;
    border: 2px solid gold;
    margin-right: 1em;
    max-height: 124px;
}
.history-item{
    padding: 1em;
    border-bottom: 1px solid #251a44;
}
.inline-flex{
    display: inline-flex;
}
.history-emptyitem{
    background-color: black;
    height: 66px;
    width: 66px;
}
.history-item-img, .history-emptyitem{
    border: 1px solid goldenrod;
    margin-right: 0.5em;
}
.history-keystone{
    height: 64px;
}
.history-secondary-rune{
    height: 24px;
}
.history-kda{
    padding: 1em;
    margin-left: 7em;
    margin-right: 3em;
}
.history-player-lists{
    display: flex;
    margin-left: 2em;
}
.history-list-thumbnail{
    height: 32px;
}
.history-playerlist{
    font-size: 16px;
}