.emblem{
    height: 150px;
}
/* .profile-head{
    background-color: #42a8ffd1;
    
} */
#summonerLvl{
    float: right;
}
#left{
    border-right: 1px solid aliceblue;
}
.profile-titles h1{
    display: inline-flex;
}
#summonerIcon{
    border-radius: 50%;
    border: 5px solid gold;
    height: 138px;
}
.inner-img{
    width: 138px;
    /* margin-left: auto;
    margin-right: auto; */
}
.profile-head-container h4{
    display: inline-flex;
}
.profile-head-container{
    padding: 1em 3em 1em 3em;
}
.inner-img{
    width: 138px;
    margin: 0 auto;
}
.queue-card{
    width: 50%;
    display: inline-block; 
    padding: 1em 3em 1em 3em;
}

.row {
    width: 100%;
    text-align: center; 
}

.queue-title, .queue-lp, .queue-tier, .queue-wins, .queue-losses{
    text-align: center;
}
ul{
    list-style: none;
}
.queue-h4-container{
    width: 50%;
    margin: 0 auto;
}
.queue-h4-container h4, h2{
    display: inline-block;
}
.queue-content-holder{
    display: flex;
}
input[type=text] {
    width: 25%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    /* background-image: url('searchicon.png'); */
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
.button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.form{
        padding: 2em;
}