.header{
    margin: 0;
}
#menu a{
    color: aliceblue !important;

}
#nav-list{
    display: flex;
}
#nav-list li {
    margin: 1em;
    font-size: 2em;
    border: 2px solid aliceblue;
    padding: 0.5em;
}
#nav-list li :hover{
    background-color: black;
}
